* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	image-rendering: pixelated;
}

@font-face {
	font-family: 'StudioSim';
	src: url('studio-sim.woff2') format('woff2');
}

body {
    font-family: 'StudioSim', sans-serif;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    /* This prevents the body itself from ever showing a second scrollbar */
    overflow: hidden; 
	color: white;
}

h1 {
	font-size: 800%;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
	color: white;
}

p {
	font-size: 500%;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
	color: white;
}

.parallax-wrapper {
    height: 100vh;
    width: 100vw; 
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}

.parallax-header {
    width: 100%;
    height: 100vh;
    transform-style: preserve-3d;
    /* Ensures no phantom gaps at the edges */
    position: relative;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.layer-bg {
    background-image: url('bg_sky.png'); 
    transform: translateZ(-40px) scale(5); 
}

.layer-beach {
    background-image: url('bg_beach.png');
    transform: translateZ(-30px) translateY(1%) scale(4); 
}

.layer-fair {
    background-image: url('bg_fair.png');
    transform: translateZ(-25px) translateY(25%) scale(3.5);
}


.layer-casino {
    background-image: url('bg_casino.png');
    transform: translateZ(-20px) translateY(-25%) scale(3);
}


.layer-art {
    background-image: url('bg_art.png');
    transform: translateZ(-20px) translateY(5%) scale(3);
}

.layer-zoo {
    background-image: url('bg_zoo.png');
    transform: translateZ(-15px) translateY(15%) scale(2.5);
}

.layer-sewer {
    background-image: url('bg_sewer.png');
    transform: translateZ(-10px) translateY(20%) scale(2);
}

.layer-title-world {
    background-image: url('title_world.png');
    transform: translateZ(-5px) translateY(-10%) translateX(20%) scale(.6);
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center;
}

.layer-title-gnar {
    background-image: url('title_gnar.png');
    transform: translateZ(-19px) translateY(-100%) scale(1.2);
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center;
}

.layer-road {
    background-image: url('bg_road.png');
    transform: translateZ(0) translateY(0%);
}

.layer-skater {
    background-image: url('skater.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
    width: 196px;
    height: 234px; 
    top: auto;
    bottom: 15%;
    
    transform: translateZ(0); 
    
    animation: skate-across 20s linear infinite;
    z-index: 5; 
}

@keyframes skate-across {
    0% {
        left: -200px;
        transform: translateZ(0) scaleX(1);
    }
    30% {
        left: 110%;
        transform: translateZ(0) scaleX(1);
    }
	
    50% {
        left: 110%;
        transform: translateZ(0) scaleX(-1);
    }
	
    90% {
        left: -200px;
        transform: translateZ(0) scaleX(-1);
    }
    100% {
        left: -200px;
        transform: translateZ(0) scaleX(1);
    }
}

.title {
    font-size: 5rem;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    transform: translateZ(-5px) scale(1.5);
}

.content {
	background-image: url("grass.png");
    margin-top: 0;
    padding: 3rem;
    position: relative;
	transform: translateZ(0) translateY(0%);
	min-height: 100vh;
}

.layer-skelly1 {
	position: absolute;
    background-image: url('skelly1.png');
    transform: translateZ(1);
	background-size: contain;
	width: 140px;
	height: 131px;
	top: 400px;
	left: 5%;
	opacity: 0.5;
}

.layer-skelly2 {
	position: absolute;
    background-image: url('skelly2.png');
    transform: translateZ(1);
	background-size: contain;
	width: 140px;
	height: 131px;
	top: 475px;
	left: 80%;
	opacity: 0.5;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 2rem;
}

.item {
    background: #333;
    padding: 2rem;
    text-align: center;
    border-radius: 8px;
}

.parallax-wrapper::-webkit-scrollbar {
    width: 12px;
}
.parallax-wrapper::-webkit-scrollbar-track {
    background: #000; 
}
.parallax-wrapper::-webkit-scrollbar-thumb {
    background: #333;
}